.input-btn
  input#password-input(
    ng-model="vm.password",
    ng-model-options="{allowInvalid: true}",
    
    ng-focus="vm.onFocus($event)",
    ng-blur="vm.onBlur($event)",

    name="password",
    type="password",
    placeholder="{{vm.placeholder}}",

    ng-minlength="8",
    ng-maxlength="64",
    maxlength="64",
    has-letter,
    has-symbol-or-number,
    class="input input-btn"
    required)

  <button type="button" id="passwordCheckbox" class="tc-btn tc-btn-sm" ng-click="vm.toggleInputType()">{{ vm.toggleShowLabel }}</button>