.input-btn
  input#current-password-input(
    ng-model="vm.currentPassword",
    ng-model-options="{allowInvalid: true}",

    ng-focus="vm.onCPFocus($event)",
    ng-blur="vm.onCPBlur($event)",

    name="currentPassword",
    type="password",
    placeholder="{{currentPasswordPlaceholder}}",
    class="input input-btn"

    required)

  <button type="button" id="toggleInputTypeBtn" class="tc-btn tc-btn-sm" ng-click="vm.toggleTypeAttribute()">{{ vm.toggleShowLabel }}</button>