.connect-accounts-container.tc-ui(ng-show="!vm.isSSORegistration")
  .connect-accounts-header
    img(src=require("../../images/connect/connect.png"), alt='')
    .login
      span Already have an account? 
      a.tc-btn.tc-btn-default.tc-btn-sm(ui-sref="CONNECT_LOGIN") Log in
  .connect-accounts-content
    h2 Create a new account
    p Always free. No credit card required
    p.error(ng-if="vm.error") {{ vm.errorMessage }}
    loader(ng-if="vm.loading")
    form.connect-accounts-form(name="vm.registerForm" role="form" novalidate autocomplete="off" ng-submit="vm.submit()")
      .wrapper.wrapper-half
        label First Name
        input.input.input-sm(type="text" name="first-name" ng-model="vm.firstName" required=true placeholder="First Name" maxlength="64" autofocus=true)
      .wrapper.wrapper-half
        label Last Name
        input.input.input-sm(type="text" name="last-name" ng-model="vm.lastName" required=true placeholder="Last Name" maxlength="64")
      .wrapper
        label Country
        .country-dropdown
          angucomplete-alt(
            input-name="country",
            placeholder="Country",
            pause="100",
            selected-object="vm.updateCountry",
            local-data="vm.countries",
            initial-value="vm.countryObj",
            search-fields="name",
            title-field="name",
            match-class="angucomplete-highlight",
            input-class="input input-sm"
            minlength="1"
          )

          .form-input-error(ng-show="vm.registerForm.country.$dirty && !vm.isValidCountry")
            p.form-error(ng-show="!vm.isValidCountry") Please choose a country from the list
      .wrapper.wrapper-tooltip
        label Pick a nickname
        input.input.input-sm(type="text" name="username" ng-model="vm.username" required=true placeholder="Username")
        .tooltip
          .arrow
          h4 USERNAME TIPS:
          p - Your username is public;
          p - Must be between 2 and 15 characters long;
          p
            | - Contains letters, numbers and only these special characters 
            span - _ . { } [ ]
      .wrapper.wrapper-tooltip
        label Your email
        input.input.input-sm(type="email" name="email" ng-model="vm.email" required=true placeholder="Email")
        .tooltip
          .arrow
          h3 Email Tips:

          p Your email address will be private and not shared with anyone.

          p We'll send you messages related to your account and project activities.
      .wrapper.wrapper-tooltip(ng-if="!vm.ssoUser")
        label Pick a password
        toggle-password-with-tips(placeholder="Create Password")

        .tooltip.tooltip-password(ng-show="vm.passwordFocus")
          .arrow
          h4 YOUR PASSWORD MUST HAVE:
          p
            img.check(src=require('../../images/ui-16px-1_check-bold-blue.svg'), alt='#')
            | At least 8 characters
          p
            img.check(src=require('../../images/ui-16px-1_check-bold-blue.svg'), alt='#')
            | At least 1 letter
          p.line At least 1 number or symbol
      p.terms-policy
        | By clicking "Register" you agree to our 
        a(href="{{vm.termsUrl}}") Terms
        |  and 
        a(href="{{ vm.privacyUrl }}") Privacy Policy
      button.action.tc-btn.tc-btn-primary.tc-btn-sm.disabled(type="submit" disabled="disabled" ng-show="!vm.isValidCountry") Register
      button.action.submit.tc-btn.tc-btn-primary.tc-btn-large(type="submit" ng-show="vm.isValidCountry") Register

    .register-options
      hr

      p Or use your enterprise account

      a.tc-btn.tc-btn-secondary.tc-btn-sm.sso-signon(ng-click="vm.ssoRegister()") Single Sign On
  p.copyright © 2017 topcoder. All Rights Reserved

sso-registration(app="connect" ng-show="vm.isSSORegistration" on-register="vm.onSSORegister(ssoUser)" on-register-cancel="vm.ssoRegisterCancel()")
