doctype html
html(ng-app='accounts')
  head
    meta(http-equiv='Content-type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    title Topcoder
    script.
      document.write('<base href="' + location.pathname+location.search + '" />');
    link(rel='shortcut icon', href='#{htmlWebpackPlugin.options.DOMAIN}favicon.ico')
    each css in htmlWebpackPlugin.files.css
      link(rel='stylesheet', href='#{htmlWebpackPlugin.options.DOMAIN}#{css}')
    style.
      .ng-hide { display: none !important; }
  body.tc
    .building(ng-hide="stateLoaded")
      .img
    ui-view.view-container

    div(ui-view="footer", ng-controller="FooterController as vm", ng-hide="hideCommonFooter")
      .account-footer
        a.privacy-policy(ng-href="https://www.topcoder.com/community/how-it-works/privacy-policy/", target="_blank")
          | Privacy Policy
        p.copyright-notice(ng-bind-html="vm.copyrightNotice")
    include ./views/segment.io.jade
    script.
      window.config = JSON.parse(decodeURIComponent(escape(window.atob("@@config@@"))));
    each js in htmlWebpackPlugin.files.js
      script(type='text/javascript', src='#{htmlWebpackPlugin.options.DOMAIN}#{js}')
